 <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chứ ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="/logout" method="POST" id="frmSignout"></form>
        <div class="modal-body">
Chọn "Đăng xuất" bên dưới nếu bạn muốn đăng xuất khỏi hệ thống</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
          <a class="btn btn-primary" href="javascript: $('#frmSignout').submit();">Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>