<div class="row  ptb-10">
				<div class="col-md-8 col-lg-9">
					<span class="btn-fill-red plr-10 mtb-10 btn-b-md"><b><a href="/lien-he">Liên hệ</a></b></span>
					<span style="font-weight: 700" class="dplay-inl-block color-grey mtb-10 ml-15 ml-md-0 hover-grey">Tờ báo điện tử hàng đầu</span>
				</div><!-- col-md-8 -->
				<div class="col-md-4 col-lg-3">
					<form class="abs-form mtb-10">
						<input type="text" placeholder="Tìm kiếm">
						<button type="submit"><i class="ion-ios-search"></i></button>
					</form>
				</div><!-- col-md-4 -->
			</div><!-- row -->