<footer class="bg-191 pos-relative color-ccc bg-primary pt-50" >
		<div class="abs-tblr pt-50 z--1 text-center">
			<div class="h-80 pos-relative"><div class="bg-map abs-tblr opacty-1"></div></div>
		</div>
		
		<div class="container">
			
			
			<div class="text-center ptb-30">
				<div class="row">
					<div class="col-sm-3">
						<a class="mtb-10" href="/"><img src="/images/logo-white.png" alt=""></a>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-6">
						<ul class="footer-nav">
							<li><a href="/" title="">Trang chủ</a></li>
							{{#each lcCategorie}}
							<li><a href="/{{mainCat.TenChuyenMuc_KhongDau}}" title="">{{mainCat.TenChuyenMuc}}</a></li>
							{{/each}}
						</ul>
					</div><!-- col-sm-3 -->
					
					<div class="col-sm-3">
						<ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3">
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-google"></i></a></li>
							<li><a href="#"><i class="ion-social-rss"></i></a></li>
						</ul>
					</div><!-- col-sm-3 -->
				</div><!-- row -->
			</div><!-- text-center -->
		</div><!-- container -->
		
		<div class="bg-dark-primary ptb-15 text-left">
			<div class="container">
				
					
					<div class="text-center">
						<p class="text-md-center font-9 pt-5 mtb-5"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div><!-- col-sm-3 -->
			</div><!-- container -->
		</div><!-- container -->
	</footer>