<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
{{>AdminNav}}
<div id="wrapper">
  {{>AdminSlidebar}}
  <div id="content-wrapper">

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Danh sách chuyên mục</li>
      </ol>
      <div class="card mb-3 List-account">
        <div class="card-header">
          <button class="btn btn-outline-success"><a href="/admin/danh-sach-chuyen-muc/them-chuyen-muc"><i
                class="fas fa-plus">Thêm chuyên mục</i></a></button>
        </div>
        {{#if mesg.length}}
        <div class="alert alert-success" role="alert">
          {{mesg}}
        </div>
        {{/if}}
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên chuyên mục</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each ListCat}}
                <tr>
                  <td name="CatID">{{IDChuyenMuc}}</td>
                  <td>{{TenChuyenMuc}}</td>
                  <td class="action">
                    <a href="/admin/danh-sach-chuyen-muc/Chinh-sua-chuyen-muc/{{TenChuyenMuc_KhongDau}}" title="">Chỉnh
                      sửa</a>
                  </td>
                </tr>

                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        </form>
      </div>


    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    {{>AdminFooter}}

  </div>
</div>
{{>AdminLogoutmodal}}