 <link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
 {{>AdminNav}}
 <div id="wrapper">   
   {{>AdminSlidebar}}
    <div id="content-wrapper">

      <div class="container-fluid">

       <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Bài viết bị từ chối</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3 List-Decline">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Danh sách bài viết</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tiêu đề</th>
                    <th>Chuyên mục</th>
                    <th>Nguyên nhân từ chối</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Bạn có thể du lịch vong quanh thế giới với 5 triệu VNĐ ?</td>
                    <td>Du lịch thế giới</td>
                    <td >
                      Thích
                    </td>
                    <td class="action">
                      <a href="#" title="">Chỉnh sửa</a>
                      <button type="button">Xóa</button>
                    </td>
                  </tr>
                  
                 
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>        

        

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {{>AdminFooter}}

    </div>
    </div>
    {{>AdminLogoutmodal}}
 