{{#section 'css'}}
<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
<script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />

{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
  $(function () {
    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadUrl: '/upload',
      uploadAsync: false,
    });
  });
</script>

<script src="/javascripts/CreateNews.js"></script>
{{!-- <script
  src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=wtnd3xbfybaxtd7216nf0no41mor1wo75hb96rr8fjhmwjrq"></script>
<script>
  $(function () {

    tinymce.init({
    selector: '#editor1',
    height: 600,
    plugins: [
        'advlist autolink lists link image charmap preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code',
        'insertdatetime media nonbreaking table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools media table'
    ],
    toolbar: 'code | bold italic underline strikethrough | formatselect sizeselect fontselect fontsizeselect | hr alignleft aligncenter alignright alignjustify outdent indent | bullist numlist | link image media table | insertfile undo redo | forecolor backcolor | emoticons',
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    menubar: false,

    image_title: true, 
    automatic_uploads: true,
    file_picker_types: 'image',
    file_picker_callback: function(cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
      input.onchange = function() {
        var file = this.files[0];
        var reader = new FileReader();        
        reader.onload = function () {
          var id = 'blobid' + (new Date()).getTime();
          var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
          var base64 = reader.result.split(',')[1];
          var blobInfo = blobCache.create(id, file, base64);
          blobCache.add(blobInfo);

          cb(blobInfo.blobUri(), { title: file.name });
        };
        reader.readAsDataURL(file);
      };      
      input.click();
    }
  });
  })
</script> --}}

{{/section}}
{{>AdminNav}}
 <div id="wrapper">   
   {{>AdminSlidebar}}
    <div id="content-wrapper">

      <div class="container-fluid">

       
 <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Đăng bài</li>
        </ol>

        <!-- Area Chart Example-->

        <!-- CreateNews -->
        {{!-- <form method="POST" action="/admin/{{user.ID}}/dang-bai">
      <div class="form-group">
        <label for="fuMain">Photo</label>
        <div class="file-loading">
          <input id="fuMain" name="fuMain" type="file" multiple>
        </div>
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form> --}}

        <form class="frmCreateNews" method="POST" action="/admin/{{user.ID}}/dang-bai">   

        <div class="">
          <div class="file-loading">
            <input id="fuMain" name="fuMain" type="file" multiple>
          </div>
        </div>


          {{!-- <label for="file" class="input-label"><i class="fa fa-upload "></i> Thêm Image...</label>
          <input type="file" id="file" multiple="true" /><br>
          <button type="button" class="close-image" id="close-image" aria-label="Close" hidden="true" data-toggle="tooltip" title="Close All Image">
            <span aria-hidden="true">&times;</span>
          </button>
      
          <div id="image-parent"></div> --}}

          <div class="text-input">
            <label class="frmCreateNews">Tiêu đề:</label>
            <input type="text" id="TieuDe" name="TieuDe" autofocus="true"/>
          </div>

          <p id="title" class="frmCreateNews ttCategory">Category:</p>
          <div>
            <select name="category" id="sl-category">
              {{#each ListCategory}}
              <option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
              {{/each}}
            </select>
            <label class="lbl-category">Choose Category</label>
          </div>          

          <p id="title">Tags:</p>
          <label for="tag-typer" class="frmCreateNews">
            <div id="tags">
                <input id="tag-typer" type="text" placeholder="Add tag..."/>
            </div>
          </label>
          <input hidden name="ValueTags" id="valueTags">

          <div class="text-input input-TomTat" id="text-input">
              <label class="frmCreateNews">Tóm tắt:</label><br>
              <!-- <input type="text" id="TomTat" name="TomTat" /> -->
              <textarea rows="3" class="TomTat" id="TomTat" name="TomTat"></textarea>
          </div>

          <div class="text">
            <label>Nội dung bài báo:</label>
           </div>
           {{!-- <div class="form-group">
            <label for="txtFullDes">Description</label>
            <textarea class="form-control" id="editor1" name="FullDes"></textarea>
          </div> --}}
          <div class="ckeditor">
            <textarea id="editor1" name="editor1"></textarea>
          </div>
          <button type="submit" class="btnSend"><i class="fa fa-paper-plane-o"></i> Gửi bài</button>
  </form>
        <!-- End CreateNews -->      

        

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {{>AdminFooter}}

    </div>
    </div>
    
    {{>AdminLogoutmodal}}
