 {{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
    $('#frmChangPasswordAdmin').validate({
      rules: {
        currentPass: {
          required: true,
        },
        newPass: {
          required: true,
          minlength: 6
        },
        confirmPass: {
          required: true,
          equalTo: $('[name="newPass"]')
        },
      },
      messages: {
        currentPass: {
          required: 'Bắt buộc.',
        },
        newPass: {
          required: 'Bắt buộc.',
          minlength: 'Mật khẩu từ 6 kí tự trở lên.'
        },
        confirmPass: {
          required: 'Bắt buộc.',
          equalTo: 'Mật khẩu không trùng khớp.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}
 
 {{>AdminNav}}
 <div id="wrapper">   
   {{>AdminSlidebar}}
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Đổi mật khẩu</li>
        </ol>

        <!-- Icon Cards-->
        <div class="card shadow">
        <h4 class="card-header">
          Đổi mật khẩu
        </h4>       
        {{#if msg_password_fail.length}}
        <div class="alert alert-danger" id="ald" role="alert">
          {{msg_password_fail}}
        </div>
        {{/if}}
        <div class="card-body">          
          <form method="POST" class="update" id="frmChangPasswordAdmin" action="./doi-mat-khau">
            
            <div class="form-group">
              <label for="txtCatName" style="width:390px">Mật khẩu hiện tại</label>
              <input type="password" class="form-control CatName" name="currentPass"
                placeholder="Nhập mật khẩu hiện tại...">
            </div>

            <div class="form-group">
              <label for="txtCatName" style="width:390px">Mật khẩu mới</label>
              <input type="password" class="form-control CatName" name="newPass"
                placeholder="Nhập mật khẩu mới...">
            </div>

            <div class="form-group">
              <label for="txtCatName" style="width:390px">Nhập lại mật khẩu mới</label>
              <input type="password" class="form-control CatName" name="confirmPass"
                placeholder="Nhập lại mật khẩu mới...">
            </div>
            <div class="form-group"></div>
            
                <a class="btn btn-primary" href="/admin/thong-tin-tai-khoan" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Trở về
                </a>
                <button type="submit" class="btn btn-success CheckInvalid ">
                <i class="fa fa-check"></i>
                Lưu
                </button>
            
          </form>
          
        </div>
        
      </div>      

        

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {{>AdminFooter}}

    </div>
    </div>
    {{>AdminLogoutmodal}}