{{#section 'css'}}
<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
<script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
    $('#frmCreateNews').validate({
      rules: {
        TieuDe: {
          required: true,
        },
        TomTat: {
          required: true,
        },
        FullDes: {
          required: true,
        },
        filename:{
          required: true,
        },        
      },
      messages: {        
        TieuDe: {
          required: 'Bạn phải nhập tiêu đề bài viết.',
        },        
        TomTat: {
          required: 'Bạn phải nhập nội dung tóm tắt.',
        },
        FullDes: {
          required: 'Bạn phải nhập nội dung bài viết.',
        },
        filename:{
          required: 'Bạn phải chọn ảnh đại diện cho bài viết.',
        },        
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>

<script>
  $(function () {
    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadUrl: '/upload',
      uploadAsync: false,
    });
  });
</script>

<script src="/javascripts/CreateNews.js"></script>
<script
  src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=wtnd3xbfybaxtd7216nf0no41mor1wo75hb96rr8fjhmwjrq"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.6/jquery.tinymce.min.js"></script>

{{!-- <script>
  $(function () {
    tinymce.init({
    selector: '#editor1',
    height: 600,
    plugins: [
        'advlist autolink lists link image charmap preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code',
        'insertdatetime media nonbreaking table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools media table'
    ],
    toolbar: 'code | bold italic underline strikethrough | formatselect sizeselect fontselect fontsizeselect | hr alignleft aligncenter alignright alignjustify outdent indent | bullist numlist | link image media table | insertfile undo redo | forecolor backcolor | emoticons',
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    menubar: false,
    images_upload_url: 'postAcceptor.php',
    images_upload_handler: function (blobInfo, success, failure) {
    setTimeout(function () {
      success('http://moxiecode.cachefly.net/tinymce/v9/images/logo.png');
      }, 2000);
    }
    })
  });
  </script> --}}

<script>
  $(function () {

    tinymce.init({
    selector: '#editor1',
    height: 600,
    plugins: [
        'advlist autolink lists link image charmap preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code',
        'insertdatetime media nonbreaking table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools media table'
    ],
    toolbar: 'code | bold italic underline strikethrough | formatselect sizeselect fontselect fontsizeselect | hr alignleft aligncenter alignright alignjustify outdent indent | bullist numlist | link image media table | insertfile undo redo | forecolor backcolor | emoticons',
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    menubar: false,
    image_title: true, 
    automatic_uploads: true,
    file_picker_types: 'image',
    file_picker_callback: function(cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
      input.onchange = function() {
        var file = this.files[0];
        var reader = new FileReader();        
        reader.onload = function () {
          var id = 'blobid' + (new Date()).getTime();
          var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
          var base64 = reader.result.split(',')[1];
          var blobInfo = blobCache.create(id, file, base64);
          blobCache.add(blobInfo);
          cb(blobInfo.blobUri(), { title: file.name });
        };
        reader.readAsDataURL(file);
      };      
      input.click();
    }
  });
  })
</script>

{{/section}}
{{>AdminNav}}
 <div id="wrapper">   
   {{>AdminSlidebar}}
    <div id="content-wrapper">

      <div class="container-fluid">

       
 <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Đăng bài</li>
        </ol>

    <form class="frmCreateNews" id="frmCreateNews" method="POST" action="/admin/dang-bai">
        {{#if message_post.length}}
              <div class="alert alert-success" role="alert">
                {{message_post}}</a>
              </div>
				{{/if}}
        <p id="title">Ảnh đại diện bài viết:</p>
        <div class="">
          <div class="file-loading">
            <input id="fuMain" name="fuMain" type="file">
          </div>
        </div>
        <input type="text" id="fileName" name="filename" value="" hidden>

          <div class="text-input" id="tt-top">
            <label class="frmCreateNews">Tiêu đề:</label>
            <input type="text" id="TieuDe" name="TieuDe" autofocus="true"/>
          </div>

          <p id="title" class="frmCreateNews ttCategory">Chuyên mục:</p>
          <div>
            <select name="category" id="sl-category">
              {{#each ListCategory}}
              <option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
              {{/each}}
            </select>
            <label class="lbl-category">Choose Category</label>
          </div>          

          <p id="title">Danh sách Tags:</p>
          <label for="tag-typer" class="frmCreateNews">
            <div id="tags">
                <input id="tag-typer" type="text" placeholder="Add tag..."/>
            </div>
          </label>
          <input hidden name="ValueTags" id="valueTags">

          <div class="text-input input-TomTat" id="text-input">
              <label class="frmCreateNews">Nội dung tóm tắt:</label><br>
              <textarea rows="3" class="TomTat" id="TomTat" name="TomTat"></textarea>
          </div>

          <div class="text">
            <label>Nội dung bài báo:</label>
           </div>
           <div class="ckeditor">
            <textarea class="form-control" id="editor1" name="FullDes"></textarea>
          </div>
          {{!-- <div class="ckeditor">
            <textarea id="editor1" name="editor1"></textarea>
          </div> --}}
          <button type="button" id="btnNews" class="btnSend">Gửi bài</button>

          <button type="button" class="" id="btnAlert" data-toggle="modal" data-target="#exampleModal" hidden></button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Bạn phải nhập Tag cho bài viết!</h5>
                        </div>                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>                            
                  </div>
              </div>
          </div>
    </form>
        <!-- End CreateNews -->      

        

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {{>AdminFooter}}

    </div>
    </div>
    
    {{>AdminLogoutmodal}}
