{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  $(function () {
    $('#formChangePassword').validate({
      rules: {
        currentPass: {
          required: true,
        },
        newPass: {
          required: true,
          minlength: 6
        },
        confirmPass: {
          required: true,
          equalTo: $('[name="newPass"]')
        },
      },
      messages: {
        currentPass: {
          required: 'Bạn phải nhập mật khẩu hiện tại.',
        },
        newPass: {
          required: 'Bạn phải nhập mật khẩu mới.',
          minlength: 'Mật khẩu từ 6 kí tự trở lên.'
        },
        confirmPass: {
          required: 'Bạn phải nhập lại mật khẩu mới.',
          equalTo: 'Nhập lại mật khẩu không trùng khớp.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      }
    });
  })
</script>
{{/section}}
{{>header}}
    <form id="formChangePassword" method="POST" action="/thong-tin-ca-nhan/{{user.ID}}/doi-mat-khau">
        <div class="card text-center" id="card-change">
            <div  id="card-header">Đổi mật khẩu</div>
            {{#if message_changePassword.length}}
              <div class="alert alert-danger alert-changePassword" role="alert">
                {{message_changePassword}}</a>.
              </div>
					  {{/if}}
            <div class="inputWithIcon" id="top">
                <input class="input-changePassword" type="password" name="currentPass" placeholder="Mật khẩu hiện tại">
                <i class="fas fa-key fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div class="inputWithIcon">
                <input class="input-changePassword" type="password" name="newPass" placeholder="Mật khẩu mới">
                <i class="fas fa-lock fa-lg" aria-hidden="true"></i>
            </div>
            <div class="inputWithIcon">
                <input class="input-changePassword" type="password" name="confirmPass" placeholder="Nhập lại mật khẩu mới">
                <i class="fas fa-clipboard-check fa-lg" aria-hidden="true"></i>
            </div>
            <div class="btn-CP">
                <a class="link" href="/thong-tin-ca-nhan"><i class="fa fa-backward" aria-hidden="true"></i> Trở về</a>                
                <button type="submit" class="btnChangePassword"><i class="fa fa-check" aria-hidden="true"></i> Lưu</button>
            </div>
            <div class="a" id="card-footer">
                {{user.Email}}
            </div>
        </div>
    </form>
{{>footer}}