{{>header}}
<section class="pt-30 pb-0">
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-12">
					
					<div class="ptb-0">
						
						<a class="mt-10 color-ash" href="/lien-he"><i class="mlr-10 ion-chevron-right"></i><b>LIÊN HỆ</b></a>
					</div>
					
					<div class="p-30 mtb-30 card-view">
						<div class="map-section">
							<div id="map" style="height:400px;width: 100%"></div>
							
							
							
						</div><!-- map-section -->
							
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
	

	<section class="pt-0 pb-20">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8">
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>LIÊN LẠC</b></h4>
						<form>
							<div class="row">
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Họ và tên">
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Email">
								</div><!-- col-sm-6 -->
								<div class="col-sm-12">
									<textarea class="mb-30" placeholder="Lời nhắn"></textarea>
								</div><!-- col-sm-12 -->
								
							</div><!-- row -->
							<a class="btn-fill-primary plr-20" href="#"><b>GỬI</b></a>
						</form>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				<div class="col-md-12 col-lg-4">
					
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>VĂN PHÒNG ĐẠI DIỆN</b></h4>
						<ul class="list-contact list-li-mb-20">
							<li><i class="ion-ios-home"></i>227 Nguyễn Văn Cừ,Quận 5, TP.HCM</li>
							<li><a href="#"><i class="ion-ios-telephone"></i>(+88)223-34324-5252</a></li>
							<li><a href="#"><i class="ion-email"></i>Support@ednews.com</a></li>
							<li class="mb-0"><a href="#"><i class="ion-ios-world"></i>www.ednews.com</a></li>
						</ul>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
{{>footer}}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Nkl4q13z00Fid3Vh8eOp4mqVlgfcXLA&callback=initMap"></script>