<!DOCTYPE html>
<html lang="en">

<head>
	<title>EDnews Đăng nhập</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- Boostrap-->

	<link rel="stylesheet" href="/plugin-frameworks/bootstrap.css">

	<!-- Mycss -->
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 ">
				
				<form novalidate class="login100-form validate-form" action="/dangnhap" method="POST" id="formLogin">
					<span class="login100-form-title p-b-49">
						Đăng nhập
					</span>
					{{#if message.length}}
						<div class="alert alert-danger" id="msgCenter" role="alert">
							{{message}}</a>.
						</div>
					{{/if}}

					{{#if message_register}}
					<div class="alert alert-success" id="msgCenter" role="alert">
							{{message_register}}</a>.
						</div>
					{{/if}}

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Type your email">

					</div>

					<div class="wrap-input100 validate-input mt-2" data-validate="Password is required">
						<span class="label-input100">Mật khẩu</span>
						<input class="input100" type="password" name="pass" placeholder="Type your password">

					</div>

					<div class="text-right m-2">
						<a href="/quen-mat-khau">
							Quên mật khẩu?
						</a>

					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Đăng nhập
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20 m-2">
						<span>
							Hoặc
						</span>
					</div>

					<div class="flex">
						<a href="/auth/facebook" class="login100-social-item bg1">
							<i class="fab fa-facebook-f"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fab fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fab fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c text-center mt-2">


						<a href="/dangky" class="txt2">
							Đăng kí
						</a>
						<p style="margin-top: 10px">
							<a href="/" class="txt2">
								Trang chủ
							</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>


	<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
	<script src="plugin-frameworks/bootstrap.js"></script>
	<script src="plugin-frameworks/tether.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
	$(function () {    
		$('#formLogin').validate({
		rules: {
			email: {
			required: true,
			email: true
			},
			pass: {
			required: true,
			},
		},
		messages: {
			email: {
			required: 'Phải nhập email.',
			email: 'Chưa đúng định dạng email.'
			},
			pass: {
			required: 'Phải nhập password.',
			},
		},
		errorElement: 'small',
		errorClass: 'help-block text-danger',
		highlight: function (e) {
			$(e).removeClass('is-valid').addClass('is-invalid');
		},
		unhighlight: function (e) {
			$(e).removeClass('is-invalid').addClass('is-valid');
		}
		});
	})
	</script>
</body>

</html>