<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>EDnews Đăng kí</title>

    <!-- Icons font CSS-->
    <!-- <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all"> -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css">

   {{!-- <link rel="stylesheet" href="/plugin-frameworks/bootstrap.css"> --}}
    
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-100 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng kí Ednews</h2>
                    {{!-- {{#if message.length}}
						<div class="alert alert-danger" role="alert">
							{{message}}</a>.
						</div>
					{{/if}} --}}
                    {{#if errors}}
                    {{#each errors}}
                    <div class="alert alert-danger" role="alert">
							lỗi</a>.
						</div>
                    {{/each}}
                    {{/if}}
                    <form method="POST" action="/dangky">
                    {{#if message.length}}
						<div class="alert alert-danger" role="alert">
							{{message}}</a>.
						</div>
					{{/if}}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Họ và tên*</label>
                                    <input class="input--style-4" type="text" name="fullname" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">SĐT*</label>
                                    <input class="input--style-4" type="text" name="phonenumber" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Ngày sinh*</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="date" name="birthday" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Giới tính</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45 label">Nam
                                            <input type="radio" checked="checked" name="gender" value="Nam">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container label">Nữ
                                            <input type="radio" name="gender" value="Nữ">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email*</label>
                                    <input class="input--style-4" type="email" name="email" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Mật khẩu*</label>
                                    <input class="input--style-4" type="password" name="pass" required>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Đăng ký</button>
                            <p style="margin-top: 10px">
                                <a href="/dangnhap" title="" class="back">
                                <i class="fa fa-arrow-left"></i>  Đăng nhập</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

   
</body>
</html>
<!-- end document-->