<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>EDnews Đăng kí</title>

    <!-- Icons font CSS-->
    <!-- <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all"> -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css">

   {{!-- <link rel="stylesheet" href="/plugin-frameworks/bootstrap.css"> --}}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-100 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng kí Ednews</h2>                   
                    
                    <form novalidate method="POST" action="/dangky" id="registerForm">
                    {{#if message.length}}
						<div class="alert alert-danger" id="msgCenter" role="alert">
							{{message}}</a>.
						</div>
					{{/if}}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Họ và tên*</label>
                                    <input class="input--style-4" type="text" name="fullname">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">SĐT*</label>
                                    <input class="input--style-4" type="text" name="phonenumber">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Ngày sinh*</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday" id="txtBirthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Giới tính</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45 label">Nam
                                            <input type="radio" checked="checked" name="gender" value="Nam">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container label">Nữ
                                            <input type="radio" name="gender" value="Nữ">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email*</label>
                                    <input class="input--style-4" type="text" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Mật khẩu*</label>
                                    <input class="input--style-4" type="password" name="pass">
                                </div>
                            </div>
                        </div>
                            {{!-- Captcha chỉ tích vào ô --}}
                            {{!-- <div>
                                <div class="g-recaptcha" data-sitekey="6LdSAKkUAAAAAD2lpaS0pxn8OOfnHjDvhmZCgBxe"></div>
                            </div> --}}

                                {{!-- Captcha chọn hình --}}
                        <div>
                            <div class="g-recaptcha" data-sitekey="6LfqAqkUAAAAAOVUW7y1ZheX8AgEBXWJc3LEfbDS"></div>
                        </div>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Đăng ký</button>
                            <p style="margin-top: 10px">
                                <a href="/dangnhap" title="" class="back">
                                <i class="fa fa-arrow-left"></i>  Đăng nhập</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
    $(function () {
        $('#txtBirthday').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: false,
        });

        $('#registerForm').validate({
        rules: {
            fullname: {
                required: true,
            },
            phonenumber:{
                required: true,
                maxlength: 15
            },
            birthday:{
                required: true,
            },
            email: {
                required: true,
                email: true
            },
            pass: {
                required: true,
                minlength: 6
            },
        },
        messages: {
            fullname: {
                required: 'Phải nhập đầy đủ họ tên.',
            },
            phonenumber:{
                required: 'Phải nhập số điện thoại.',
                maxlength: 'Số điện thoại không đúng.'
            },
            birthday:{
                required: 'Phải nhập ngày sinh.',
            },
            email: {
                required: 'Phải nhập email.',
                email: 'Chưa đúng định dạng email.'
            },
            pass: {
                required: 'Phải nhập password.',
                minlength: 'Password từ 6 kí tự trở lên.'
            },
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: function (e) {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (e) {
            $(e).removeClass('is-invalid').addClass('is-valid');
        }
        });
    })
    </script>

</body>
</html>
<!-- end document-->