{{>header}}
<section class="bg-primary p-0 pb-xs-20">
		<div class="container">
				{{>botnav}}
		</div><!-- container -->
	</section>
	<!-- END OF MAIN SLIDER -->
	

	<section class="ptb-30">
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-8">
					
					<div class="ptb-0">
						<a class="mt-10" href="/"><i class="mr-5 ion-ios-home"></i><b>TRANG CHỦ</b></a>
						<a class="mt-10" href="/thethao"><i class="mlr-10 ion-chevron-right"></i><b>THỂ THAO</b></a>
						<a class="mt-10 mb-30 color-ash" href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><i class="mlr-10 ion-chevron-right"></i>
							<b>TỐC ĐỘ LÀM CHỦ CUỘC ĐUA VÀ CUỘC ĐỜI</b></a>
					</div>
					
					<div class="p-30 mb-30 card-view">
						<img src="/images/slider-8-1200x600.jpg">
						<h3 class="mt-30 mb-5"><a href="#"><b>TỐC ĐỘ LÀM CHỦ CUỘC ĐUA VÀ CUỘC ĐỜI</b></a></h3>
						<ul class="list-li-mr-10 color-lite-black">
							<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
							<li><i class="mr-5 font-12 ion-android-person"></i>John Dowson</li>
							<li class="category"><a href="/thethao">Thể thao thế giới</a></li>
						</ul>
						
						<p class="mt-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, 
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi 
							citur at.Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus.
							Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla 
							effi citur at. effi citur at.Maecenas sed massa tristique.
							Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, 
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi 
							citur at. Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus. </p>
						<p class="mtb-15">Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
							consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Nulla maximus pellentes que velit, quis nulla effi citur at.Maecenas sed massa tristique.
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla 
							effi citur at. effi citur at.Maecenas sed massa tristique.
							Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi 
							citur at.Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus.
						</p>
						
						<div class="mtb-30 brdr-l-grey-2 pl-20">
							<p class="mb-15"><em>"Pellentes que velit, quis nulla effi citur at.
								Maecenas sed massa tristique.consectetur adipiscing elit. Nulla maximus pellentes que velit, quis 
								consequat nulla effi citur at. effi citur at.Maecenas sed massa tristique.
								Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
								Lorem ipsum dolor si."</em>
								
							</p>
							<h6><b>MICHEL JORDAN</b></h6>
						</div>
						
						<p class="mtb-15">Liquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
							consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Nulla maximus pellentes que velit, quis nulla effi citur at.Maecenas sed massa tristique.
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla 
							effi citur at. effi citur at.Maecenas sed massa tristique.
							Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet
							consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi 
							citur at.Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus.
						</p>
						
						<div class="sided-half">
							<ul class="s-left ptb-5 list-btn-semiwhite sided-sm-center">
								<li><a href="/thethao">#TAI NẠN</a></li>
								<li><a href="/thethao">#TỐC ĐỘ</a></li>
								<li class="mr-0"><a href="/thethao">#XE ĐUA</a></li>
							</ul>
							<ul class="s-right sided-sm-center ptb-5 list-a-p-5 list-a-plr-10 font-11 color-ash">
								<li><a href="#"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="ion-social-google"></i></a></li>
								<li><a href="#"><i class="ion-social-instagram"></i></a></li>
							</ul>
						</div><!-- sided-half -->
					</div><!-- card-view -->
					
					<div class="p-30 mb-30 card-view">
						<div class="sided-90x">
							<div class="s-left br-3 oflow-hidden">
								<img src="/images/sidebar-profile-1-100x100.jpg" alt="">
							</div><!-- s-left -->
							
							<div class="s-right">
								<h4><b>Chris Smalling</b></h4>
								<p class="mt-5">Liquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
									consectetur adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi 
								</p>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
					</div><!-- card-view -->
					
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>BÀI VIẾT LIÊN QUAN</b></h4>
						<div class="row">
							<div class="col-sm-4 mb-sm-20">
								<img src="/images/slider-7-400x400.jpg" alt="">
								<h5 class="mt-20"><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><b>Bạn tình của tay đua Lê Văn Cẩm xác nhận chia tay</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">nhân vật</a></li>
								</ul>
							</div><!-- col-sm-4 -->
							
							<div class="col-sm-4 mb-sm-20">
								<img src="/images/slider-6-400x400.jpg" alt="">
								<h5 class="mt-20"><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><b>Đua Văn Xe : 'Nhiều lần tôi chạm ngỏ tử'</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">nhân vật</a></li>
								</ul>
							</div><!-- col-sm-4 -->
							
							<div class="col-sm-4">
								<img src="/images/news-3-250x250.jpg" alt="">
								<h5 class="mt-20"><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><b>Nhìn lại sự nghiệp của tay đua Lê Văn Cẩm</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">nhân vật</a></li>
								</ul>
							</div><!-- col-sm-4 -->
						</div><!-- row -->
					</div><!-- card-view -->
					
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>BÌNH LUẬN</b></h4>
						<div class="sided-90x">
							<div class="s-left br-3 oflow-hidden">
								<img src="/images/sidebar-profile-1-100x100.jpg" alt="">
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><b>Chris Smalling</b><span class="ml-10 color-ash font-8"> 25/1/2018</span></h5>
								<p class="mt-5 mb-10">Khó chấp nhận quá!!!
								</p>
								<a class="mr-20" href="#"><b>THÍCH</b></a>
								<a href="#"><b>TRẢ LỜI</b></a>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
						<div class="ml-90 ml-sm-20 mt-20 brdr-grey-1 opacty-6"></div>
						<div class="ml-90 ml-sm-20 sided-90x mtb-20">
							<div class="s-left br-3 oflow-hidden">
								<img src="/images/sidebar-profile-3-100x100.jpg" alt="">
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><b>Mary Thomson</b><span class="ml-10 color-ash font-8"> 25/1/2018</span></h5>
								<p class="mt-5 mb-10"> Chấm hỏi chấm hỏi???

								</p>
								<a class="mr-20" href="#"><b>THÍCH</b></a>
								<a href="#"><b>TRẢ LỜI</b></a>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
						<div class="mb-20 brdr-grey-1 opacty-6"></div>
						<div class="sided-90x">
							<div class="s-left br-3 oflow-hidden">
								<img src="/images/sidebar-profile-2-100x100.jpg" alt="">
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><b>Sebastian Meckie</b><span class="ml-10 color-ash font-8"> 25/1/2018</span></h5>
								<p class="mt-5 mb-10">Chính xác !
								</p>
								<a class="mr-20" href="#"><b>THÍCH</b></a>
								<a href="#"><b>TRẢ LỜI</b></a>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
					</div><!-- card-view -->
					
					
					

				</div><!-- col-sm-8 -->
				
				<div class="col-md-12 col-lg-4">
					<!-- START OF SIDEBAR MOST READ -->
					<div class="mb-30 p-30 card-view">
						<h4 class="p-title"><b>ĐỌC NHIỀU NHẤT</b></h4>
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="#"><img src="/images/sidebar-most-read-1-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Tiền nhiều để làm gì?</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">ĐỜI SỐNG</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><img src="/images/sidebar-most-read-2-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Hành trình gian khó của hai mẹ con nhà Anivia.</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">nhân vật</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><img src="/images/sidebar-most-read-3-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Theo dõi sức khỏe tại nhà?</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">công nghệ</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><img src="/images/sidebar-most-read-4-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Thay vì Casino, trường học cho trẻ em là một bước đi đúng đắn.</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">bất động sản</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><img src="/images/sidebar-most-read-5-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Vệ tinh toàn cầu 2019 có những gì?</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">trí tuệ nhân tạo</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
						
						<div class="sided-80x mb-20">
							<div class="s-left">
								<a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua"><img src="/images/sidebar-most-read-6-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h5><a href="/thethao/the-thao-the-gioi/toc-do-lam-chu-cuoc-dua">
									<b>Đặt lịch khám tại nhà, tiện lợi không ngờ tới.</b></a></h5>
								<ul class="mtb-5 list-li-mr-20 color-lite-black">
									<li><i class="mr-5 font-12 ion-clock"></i>25/1/2018</li>
									<li class="category"><a href="/thethao/bong-da">smartphone</a></li>
								</ul>
							</div><!-- s-left -->
						</div><!-- sided-80x -->
					</div><!-- card-view -->
					<!-- END OF SIDEBAR MOST READ -->
					
					<!-- START OF SIDEBAR ARTICLES BY AUTHOR -->
					<div class="mb-30 p-30 card-view">
						<h4 class="p-title"><b>TÁC GIẢ</b></h4>
						
						<div class="sided-90x mb-20">
							<div class="s-left br-3 oflow-hidden">
								<a href="#"><img src="/images/sidebar-profile-1-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h4 class="pt-20"><b>Chris Smalling</b></h4>
								<h6 class="color-ash">Phóng Viên</h6>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
						<div class="sided-90x mb-20">
							<div class="s-left br-3 oflow-hidden">
								<a href="#"><img src="images/sidebar-profile-2-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h4 class="pt-20"><b>Johny Dowson</b></h4>
								<h6 class="color-ash">Phóng Viên</h6>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
						<div class="sided-90x mb-20">
							<div class="s-left br-3 oflow-hidden">
								<a href="#"><img src="images/sidebar-profile-3-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h4 class="pt-20"><b>Emily Carter</b></h4>
								<h6 class="color-ash">Phóng Viên</h6>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
						<div class="sided-90x">
							<div class="s-left br-3 oflow-hidden">
								<a href="#"><img src="images/sidebar-profile-4-100x100.jpg" alt=""></a>
							</div><!-- s-left -->
							
							<div class="s-right">
								<h4 class="pt-20"><b>Julia Ann</b></h4>
								<h6 class="color-ash">Phóng Viên</h6>
							</div><!-- s-left -->
						</div><!-- sided-90x -->
						
					</div><!-- card-view -->
					<!-- END OF SIDEBAR ARTICLES BY AUTHOR -->
					
					<!-- START OF SIDEBAR BANNER-->
					<div class="plr-30 ptb-50 color-white pos-relative text-center bg-7">
						<div class="bg-layer-8">
							<h3><b>BẤT ĐỘNG SẢN</b></h3>
							<p class="mb-15 mt-5 color-white">Tìm ngay ngôi nhà dành cho gia đình của bạn</p>
							<h6><a class="btn-fill-white btn-b-sm plr-10" href="#"><b>XEM THÊM</b></a></h6>
						</div><!-- banner-area -->
					</div><!-- banner-area -->
					<!-- END OF SIDEBAR BANNER-->
					
					<!-- START OF SIDEBAR NEWSLETTER -->
					<div class="mt-30 p-30 plr-40 card-view text-center">
						<h4><b>BẢN TIN</b></h4>
						<p>Tạp chí bán chạy nhất</p>
						<a href="#"><img class="mtb-20 max-w-100x mlr-auto" src="images/sidebar-profile-5-100x150.jpg" alt=""></a>
						
						<form class="form-sm max-w-400x mlr-auto">
							<input type="email" placeholder="Nhập Email để nhận ưu đãi ">
							<h6><button class="mt-15 plr-20 btn-b-sm btn-fill-primary dplay-block" type="submit"><b>ĐĂNG KÝ NGAY</b></button></h6>
						</form>
					</div><!-- card-view -->
					<!-- END OF SIDEBAR NEWSLETTER -->
					
				</div><!-- col-sm-4 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
{{>footer}}